*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins';
    box-sizing: border-box;
}

header {
    height: 50px;
    background-image: linear-gradient(bisque, rgb(255, 202, 142));
    align-items: center;
    display: flex;
    margin-bottom: 10px;
    border-bottom: solid 1px black;
}

header ul {
    list-style-type: None;
    margin-left: 5px;
}

header ul li {
    margin-right: 1rem;
}

a {
    text-decoration: none;
    color: rgb(0,0,0)
}

body {
    background-color: blanchedalmond;
}

.d-flex {
    display: flex;
}

.container-1 {
    display: flex;
    gap: 10px;
    margin-bottom: 2px;
    /* min-width: 1100px; */
    width: 100%;
    justify-content: center;
}

.container-2 {
    display: flex;
    gap: 10px;
    justify-content: center;
}

.card {
    padding: 0 0 0em;
    background-color:rgba(255, 190, 110, 0.298);
    width: 270px;
    height: 500px;
    border: 1px solid rgba(255, 255, 255, 0.729);
    overflow: hidden;
}

.text-container {
    margin: 10px 0 0 5px;
}

.cropped {
    width: 270px;
    height: 200px;
    object-fit: cover;
}

.img-container {
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 1000px) {
    .container-1 {
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (max-width: 670px) {
    .container-2 {
        flex-direction: column;
        width: 100%;
    }

    .card {
        width: 100%;
        align-items: center;
    }

    .img-container {
        display: flex;
        justify-content: center;
    }
    

}